<div class="footer-main {{ if eq .dark true}} footer-dark {{ end }}">
  <div class="content-body footer-wraper">
    <div class="footer-box">
      <div class="foot-nav">
        <div class="foot-nav-items">
          <div class="item">
           <!--- <div class="logo">{{ .Site.Title}}</div>-->
           <a href="{{ "" | relURL }} " class="nav-title"><img src="/firms/logo.png" height="34px"/></a>

          </div>
          <div class="item">
              <div class="email"></div>
              <div class="email"></div>
              <div class="email"></div>
            <div class="email">Email: <a href="mailto:{{ site.Params.email }}">{{ site.Params.email }}</a></div>
            <div class="email">Телефон: <a href="tel:{{ site.Params.phone }}">{{ site.Params.phone }}</a></div>

          </div>
          <div class="item">
            <div class="email">Адрес: {{ site.Params.adress }}</div>
          </div>

         <!-- <div class="item">
            <div class="logo">{{ .Site.Title}}</div>
            <div class="email">Email: <a href="mailto:{{ site.Params.email }}">{{ site.Params.email }}</a></div>
          </div>-->

          <!--<div class="item community">
            <div class="item-title">{{ i18n "socialMedia" }}</div>
            {{ range site.Params.socialMedia }}
              <a href="{{ .url }}" target="_blank">{{ .name}}</a>
            {{ end }}
          </div>-->

        <!-- <div class="item resources">
            <div class="item-title">{{ i18n "related" }}</div>
            {{ range site.Params.blogroll }}
              <a href="{{ .url }}" target="_blank">{{ .name}}</a>
            {{ end }}
          </div>-->
          <!--   <div class="nav-item-wrapper">
            <a href="{{ "index.xml" | relURL }}" class="nav-item-content" target="_blank"><b>RSS</b></a>
          </div>-->
        </div>
      </div>
      <div class="bottom">
        <div class="item copyright">
          &copy; {{ now.Format "2006" }}
          <a href="/" target="_blank">ГИДРОФОРУМ</a>

<!-- Добавьте где-то в сайдбаре -->
{{ partial "sidebar-regions.html" . }}

<!-- Добавьте этот пункт в основное меню -->
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="regionsDropdown"
       role="button" data-bs-toggle="dropdown" aria-expanded="false">
        🌍 Регионы
    </a>
    <ul class="dropdown-menu" aria-labelledby="regionsDropdown">
        <li><a class="dropdown-item" href="/regions/">Все регионы</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="/regions/rossiya/">По всей России</a></li>
        <li><a class="dropdown-item" href="/regions/moskva/">Москва</a></li>
        <li><a class="dropdown-item" href="/regions/sankt-peterburg/">Санкт-Петербург</a></li>
        <li><a class="dropdown-item" href="/regions/rostov-na-donu/">Ростов-на-Дону</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="/regions/krasnodar/">Краснодар</a></li>
        <li><a class="dropdown-item" href="/regions/ekaterinburg/">Екатеринбург</a></li>
        <li><a class="dropdown-item" href="/regions/kazan/">Казань</a></li>
    </ul>
</li>

        <!--  Сайт создан на <a href="https://gohugo.io/" target="_blank">Hugo</a> & <a href="https://github.com/floyd-li/hugo-theme-itheme" target="_blank">iTheme</a>
        -->
        </div>
      </div>
    </div>
  </div>
</div>
