<div class="about-page">
    <!-- Ваш HTML-контент -->

    <div style="display: flex; justify-content: center; padding: 20px 0">
        <table style="width: auto; border-collapse: collapse; margin: 0 auto">
            <tr>
                <td style="width: 20%; text-align: center; padding: 10px">
                    <a href="https://wilo.ru/">
                        <img
                            src="/firms/wilo.png"
                            alt="WILO"
                            style="max-width: 100%; height: auto"
                        />
                    </a>
                </td>
                <td style="width: 20%; text-align: center; padding: 10px">
                    <a href="https://www.grundfos.com//">
                        <img
                            src="/firms/grundfos.png"
                            alt="GRUNFOS"
                            style="max-width: 100%; height: auto"
                        />
                    </a>
                </td>
                <td style="width: 20%; text-align: center; padding: 10px">
                    <a href="https://lowara.su/">
                        <img
                            src="/firms/lowara.png"
                            alt="LOWARA"
                            style="max-width: 100%; height: auto"
                        />
                    </a>
                </td>
                <td style="width: 20%; text-align: center; padding: 10px">
                    <a href="https://www.flygtrf.ru/">
                        <img
                            src="/firms/flygt.png"
                            alt="FLYGHT"
                            style="max-width: 100%; height: auto"
                        />
                    </a>
                </td>
                <td style="width: 20%; text-align: center; padding: 10px">
                    <a href="https://www.cnprussia.ru/">
                        <img
                            src="/firms/cnp.png"
                            alt="CMP"
                            style="max-width: 100%; height: auto"
                        />
                    </a>
                </td>
            </tr>
            <tr>
                <td style="width: 20%; text-align: center; padding: 10px">
                    <a href="https://solidpump.ru//">
                        <img
                            src="/firms/solidpump.png"
                            alt="SOLIDPUMP"
                            style="max-width: 100%; height: auto"
                        />
                    </a>
                </td>

                <td style="width: 20%; text-align: center; padding: 10px">
                    <a href="https://www.cnpurity.com/">
                        <img
                            src="/firms/purity.png"
                            alt="PURITY"
                            style="max-width: 100%; height: auto"
                        />
                    </a>
                </td>
                <td style="width: 20%; text-align: center; padding: 10px">
                    <a href="https://onimiq.com/">
                        <img
                            src="/firms/onimiq.jpg"
                            alt="ONIMIQ"
                            style="max-width: 100%; height: auto"
                        />
                    </a>
                </td>
                <td style="width: 20%; text-align: center; padding: 10px">
                    <a href="https://leorussia.ru/">
                        <img
                            src="/firms/leo.png"
                            alt="LEO"
                            style="max-width: 100%; height: auto"
                        />
                    </a>
                </td>
                <td style="width: 20%; text-align: center; padding: 10px">
                    <a href="https://www.hms-livgidromash.ru/">
                        <img
                            src="/firms/livgidromash.png"
                            alt="ЛИВГИДРОМАШ"
                            style="max-width: 100%; height: auto"
                        />
                    </a>
                </td>
            </tr>
        </table>
    </div>
</div>
