<div class="about-page">
    <!-- Ваш HTML-контент -->

<div style="display: flex; justify-content: center; padding: 20px 0;">
  <table style="width: auto; border-collapse: collapse; margin: 0 auto;">
  <tr>
    <td style="width: 20%; text-align: center; padding: 10px;">
      <a href="https://wilo.ru/">
        <img src="/firmas/wilo.png" alt="WILO" style="max-width: 100%; height: auto;">
      </a>
    </td>
    <td style="width: 20%; text-align: center; padding: 10px;">
      <a href="https://lowara.su/">
        <img src="/firms/lowara.png" alt="LOWARA" style="max-width: 100%; height: auto;">
      </a>
    </td>
    <td style="width: 20%; text-align: center; padding: 10px;">
      <a href="ссылка3.html">
        <img src="изображение3.jpg" alt="Описание 3" style="max-width: 100%; height: auto;">
      </a>
    </td>
    <td style="width: 20%; text-align: center; padding: 10px;">
      <a href="ссылка4.html">
        <img src="изображение4.jpg" alt="Описание 4" style="max-width: 100%; height: auto;">
      </a>
    </td>
    <td style="width: 20%; text-align: center; padding: 10px;">
      <a href="ссылка5.html">
        <img src="изображение5.jpg" alt="Описание 5" style="max-width: 100%; height: auto;">
      </a>
    </td>
  </tr>
  <tr>
    <td style="width: 20%; text-align: center; padding: 10px;">
      <a href="ссылка6.html">
        <img src="изображение6.jpg" alt="Описание 6" style="max-width: 100%; height: auto;">
      </a>
    </td>
    <td style="width: 20%; text-align: center; padding: 10px;">
      <a href="ссылка7.html">
        <img src="изображение7.jpg" alt="Описание 7" style="max-width: 100%; height: auto;">
      </a>
    </td>
    <td style="width: 20%; text-align: center; padding: 10px;">
      <a href="ссылка8.html">
        <img src="изображение8.jpg" alt="Описание 8" style="max-width: 100%; height: auto;">
      </a>
    </td>
    <td style="width: 20%; text-align: center; padding: 10px;">
      <a href="ссылка9.html">
        <img src="изображение9.jpg" alt="Описание 9" style="max-width: 100%; height: auto;">
      </a>
    </td>
    <td style="width: 20%; text-align: center; padding: 10px;">
      <a href="ссылка10.html">
        <img src="изображение10.jpg" alt="Описание 10" style="max-width: 100%; height: auto;">
      </a>
    </td>
  </tr>
</table>
  </div>

</div>
